@import "../../../../assets/branding_variables";

.footer{
  text-align: center;
  padding: 56px 0;
  background-size: cover;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: $font-size-base;
  color: $red;
}

.footer a{
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}
