//TODO : I'm not sure if I must call this at the begining or the end of the file.
@import "./general_variables";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";

////// Fonts
$font-size-base: 1.25rem; // Assumes the browser default, typically `16px`
$font-size-lg:   2.375rem;
$font-size-sm:   1rem;
$font-size-xs:   .875rem;
$font-family-sans-serif:  'Source Sans Pro', "Helvetica Neue", Arial, sans-serif;


////// Colors
$teal:   #4cc4cf;
$teal_hover: #31a4cf;
$red:    #EA3056;
$red_hover: #ea1243;
$yellow: #FDC02D;
$yellow_hover: #fd9e26;
$purple: #722c8a;
$purple_hover: #65138a;
$orange: #F28650;
$orange_hover: #f26623;
$primary: $yellow;

